@charset "utf-8";

/*RESET CSS*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
html{font-family: 'Noto Sans KR', sans-serif; font-size:14px;}
img{vertical-align:top;}
a{text-decoration:none;}
a:link, a:visited, a:hover, a:active{color:#333;}