@charset "utf-8";
@import "commons.css";
/*공통 레이아웃*/
.flex{ /*플렉스 컨테이너 만들어 주는 클래스*/
    display:flex; /* display:inline-flex; */
    justify-content:space-between;
    align-items:center;
}
.wrap{ /*가로사이즈 중앙 정렬*/
    width:1440px;
    margin:0 auto;
}

/*타이틀 CSS*/
.tgroup{
    text-align:center;
    margin:100px 0 70px 0;
}
.tgroup>h2{
    font-size:2rem;
    font-weight:800;
}
.tgroup>h3.line{
    background:gold;
    margin:10px auto 20px auto;
    width: 80px; height:5px;
}
.tgroup>h3{color:#666; line-height:2;}


/*헤더 영역*/
.header_bg{
    height:900px;
    background:url('../images/main.jpg') no-repeat center/cover;
    position:relative;
}
.header_bg>h3{
    position:absolute;
    text-align:center;
    font-size:2.3rem;
    color:#fff;
    top:50%; left:50%;
    transform:translateX(-50%);
    font-weight:700;
}
header{
    border-bottom:1px solid #fff;
    height:80px;
}
header>.wrap{height:80px;}
#logo{width:250px; height:29px;}
#logo>a{
    display:block;
    height:100%;
    width:100%;
    background:url('../images//logo.png')no-repeat;
    text-indent:-99999px;
    overflow:hidden;
}

#gnb{width:40%;}
#gnb>li{width:25%; text-align:center;}
#gnb a{
    font-size:1.2rem;
    color:#fff;
    padding:10px;
    display:block;
}
#gnb a:hover{color:gold; font-weight:700;}

header h2{
    width:20px; height:28px;
    overflow:hidden;
}
header h2 a{
    display:block;
    width:100%; height:100%;
    background:url('../images/glass.png') no-repeat center/20px;
    text-indent:-99999px;
}

/*푸터영역*/
footer{
    background:#333;
    padding:30px;
    color:#fff;
    line-height:2.5;
}