@charset "utf-8";
@import "layout.css";

/*헤더*/
#gnb{margin-left:200px;}
#gnb a{color:#333;}
#gnb>li:last-child>a{color:gold}
#logo>a{background:url('../images/logo2.png')no-repeat;}
header h2 a{background:url('../images/glass2.png') no-repeat;}


/*서브 비주얼*/
#sub_main{
    background:url('../images/submain.jpg') no-repeat;
    height:385px; width:1900px; margin: 0 auto;
}

.tgroup{padding-top:120px; margin:0;}
.tgroup h3, .tgroup h2{color:#fff;}

/*intro 영역*/
.wrap>div{text-align: center;}
#sub_intro{margin:30px 0;}
.wrap>div:nth-child(3){margin-top: 100px;}
.wrap>div>p:first-child{
    font-size: 1.5rem;
    font-weight:700;
    color:#666;
    margin-bottom: 20px;
}
.wrap>div>p:nth-child(2){
    font-size:1.2rem;
    line-height: 1.5;
    color:#ccc;
}
.wrap>div>p:last-child{
    width:50%; height:1px;
    background:#ccc;
    margin: 20px auto;
}
.wrap>div:nth-child(4)>p:last-child{width:35%;}
.wrap>div:nth-child(5)>p:last-child{width:45%;}

/*box 영역*/
#sub_box{
    display:flex;
    flex-flow:row wrap;
    margin-top:100px;
}
#sub_box p{color:#fff;}
#sub_box p:first-child{
    margin:40px 0 20px 0;
    font-size:1.8rem;
    font-weight:600;
}
#sub_box>div:nth-child(1){
    width:68%; height:150px;
    background:#F57800;
    margin-right:2%;
}
#sub_box>div:nth-child(2){
    width:30%; height:150px;
    background-color:#F57800;
}
#sub_box>div:nth-child(3){
    width:20%; height:150px;
    background:#F57800;
    margin: 20px 2% 20px 0;
}
#sub_box>div:nth-child(3)>p{margin-top:65px;}
#sub_box>div:nth-child(4){
    width:78%; height:150px;
    background:#F57800;
    margin-top:20px;
}
#sub_box>div:nth-child(5){
    width:50%; height:150px;
    background:#F57800;
    margin-right: 2%;
}
#sub_box>div:nth-child(6){
    width:48%; height:150px;
    background:#F57800;}


/*푸터*/
footer{margin-top:150px;}