@charset  "utf-8";
@import "reset.css";
@import "common.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@import url('https://webfontworld.github.io/sebang/SebangGothic.css');
/*
font-family: 'Pretendard';
font-family: 'SebangGothic';
*/


*{margin:0; padding:0; list-style:none;}
a:hover, a:active, a:link, a:visited{text-decoration:none; color:#333;}
html{ font-family: 'Pretendard'; overflow-x: hidden}

* h2{
	display:none;
	visibility:hidden;
	width:0; height:0;
	overflow:hidden;
	text-indent:-9999px;
}
.wrap{max-width:1440px;}
/*비주얼 배너 영역*/
.section1{
    background:#f3f3f3;
    width:100vw;
    height:100vh;
    position:relative;
}
.section1>div{
    background:url('../img/g1_img/bg.png') no-repeat center center;
    width:100%;
    height:100%;
    margin:0 auto;
}
.section1>div>h3{
    font-size:2.5rem;
    font-weight:800;
    line-height:2;
    position:absolute;
    display:none;
}
.section1>div>h3.sec1_t01{
    color:#495912;
    top:22%; left:23.5%;
}
.section1>div>h3.sec1_t02{
    top:30%; left:27%;
    color:#fff;
}
.section1>div>h3.sec1_t03{
    top:38%; left:25%;
    color:#fff;
}
.section1>div>img.bottle{
    transform:scale(90%);
    position:absolute;
    top:15%; right:23%;
}
.section1>div>p{
    font-size:1rem;
    font-weight:500;
    line-height:1.8;
    text-align:left;
    position:absolute;
    right:20%; bottom:15%;
}
.section1>div>.line01, .section1>div>.line02,
.section1>div>.line03, .section1>div>.line04,
.section1>div>.line05{
    position:absolute;
    top:58%; left:31%;
    /*추가한 부분*/
    height:8%;
    opacity:0;
}
.section1>div>.line02{top:66%;}
.section1>div>.line03{top:74%;}
.section1>div>.line04{top:82%;}
.section1>div>.line05{top:90%;}
/*첨가 생약 효능 영역*/
.section2{
    width:100%; height:900px;
    background:#f4f4f4;
}

.section2>div{
    width:100%; height:100%;
    background:url('../img/g1_img/sec02_img.png') no-repeat center;
    position:relative;
}
.section2>div>h3{
    text-align:center;
    font-size:2rem;
    font-weight:800;
    color:#402000;
    line-height:1.2;
    position:absolute;
    top:40%; left:44.7%;
}
.section2 .m_name{
    text-align:center;
    font-size:1.2rem;
    font-weight:700;
}
.section2 .m_effect{
    font-size:1rem;
    font-weight:600;
    color:#333;
}
.m_img01:hover, .m_img02:hover,
.m_img03:hover, .m_img04:hover,
.m_img05:hover, .m_img06:hover,
.m_img07:hover, .m_img08:hover,
.m_img09:hover, .m_img10:hover
{transform:scale(1.1); cursor:pointer;}
#m_01, #m_02, #m_03, #m_04, #m_05,
#m_06, #m_07, #m_08, #m_09, #m_10{
    display:none;
    text-align:center;
    width:60%; height:40%;
    background:rgba(0, 0, 0, 0.8);
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    line-height:30px;
}
#m_01>div:first-child, #m_02>div:first-child,
#m_03>div:first-child, #m_04>div:first-child,
#m_05>div:first-child, #m_06>div:first-child,
#m_07>div:first-child, #m_08>div:first-child,
#m_09>div:first-child, #m_10>div:first-child
{margin-top:30px;}
.section2>div>.m_01{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    top:15%; left:30%;
}
.section2>div>.m_01>div:first-child{
    transform:translateY(-5%);
}
.section2>div>.m_01>div:last-child{
    transform:translate(5px, 15px);
}
.section2>div>.m_01>div:first-child>p{margin:0 0 5px 5px;}
.section2>div>.m_02{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    top:15%; right:29%;
}
.section2>div>.m_02>div:first-child{
    transform:translate(-5px, 15px);
}
.section2>div>.m_02>div:last-child{
    transform:translate(5px, -20px);
}
.section2>div>.m_02>div:last-child>p{
    margin:0 0 5px 40px;}
.section2>div>.m_03{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    top:30%; left:18%;
}
.section2>div>.m_03>div:last-child{
    transform:translate(10px, -15px);
}
.section2>div>.m_03>div:first-child>p{margin:0 0 5px 5px;}
.section2>div>.m_04{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    top:30%; right:17%;
}
.section2>div>.m_04>div:first-child{
    transform:translate(-10px, -15px);
}
.section2>div>.m_04>div:last-child{
    transform:translateY(-20px);
}
.section2>div>.m_04>div:last-child>p{
    margin:0 0 0px 35px;}
.section2>div>.m_05{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    top:47%; left:17%;
}
.section2>div>.m_05>div:last-child{
    transform:translate(10px, -15px);
}
.section2>div>.m_05>div:first-child>p{
    margin:0 0 -15px 5px;}
.section2>div>.m_06{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    top:47%; right:18%;
}
.section2>div>.m_06>div:first-child{
    transform:translate(-10px, -15px);
}
.section2>div>.m_06>div:last-child{
    transform:translateY(10px);
}
.section2>div>.m_06>div:last-child>p{
    margin:0 0 -5px 25px;
}
.section2>div>.m_07{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    bottom:30%; left:18%;
}
.section2>div>.m_07>div:last-child{
    transform:translateX(20px);
}
.section2>div>.m_07>div:first-child{
    transform:translate(5px, 40px);
}
.section2>div>.m_07>div:first-child>p{
    margin:0 0 -30px 5px;
}
.section2>div>.m_08{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    bottom:26%; right:19%;
}
.section2>div>.m_08>div:first-child{
    transform:translate(-10%, -15%);
}
.section2>div>.m_08>div:last-child{
    transform:translateY(25%);
}
.section2>div>.m_08>div:last-child>p{
    margin:0 0 -10% 45px;}
.section2>div>.m_09{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    bottom:15%; left:26%;
}
.section2>div>.m_09>div:first-child{
    transform:translateY(40%);
}
.section2>div>.m_09>div:first-child>p{
    transform:translateY(100%);
}
.section2>div>.m_09>div:last-child{
    transform:translate(5px, 15px);
}
.section2>div>.m_09>div:first-child>p{margin:0 0 5px 5px;}
.section2>div>.m_10{
    display:flex;
    flex-flow:row wrap;
    position:absolute;
    bottom:15%; right:22%;
}
.section2>div>.m_10>div:first-child{
    transform:translate(-5px, 15px);
}
.section2>div>.m_10>div:last-child{
    transform:translateY(40%);
}
.section2>div>.m_10>div:last-child>p{
    transform:translate(-5%, 80%);
}
.section2>div>.m_10>div:last-child>p{margin:0 0 5px 70px;}

/*History 영역*/
.section3{
    width:100%; height:2700px;
    background:
    url('../img/g1_img/history_Line.png')no-repeat center 300px,
    url('../img/g1_img/history_bg.png')no-repeat left bottom/100%;
    position:relative;
}
.section3 .txt_r{text-align:right;}
.section3 .txt_l{text-align:left;}
.section3 h4{
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:5px;
}
.section3 p{
    font-size:1.1rem;
    font-weight:500;
    line-height:1.2;
}
.section3>h3{
    text-align:center;
    font-size:2.1rem;
    font-weight:700;
    line-height:1.2;
    margin-top:100px;
}
.section3>h3>.color2{color:#37594b;}
.section3>.h_01{
    position:absolute;
    top:115px; left:33%;
}
.section3>.h_01>.glass{
    transform:translate(-10%, 40%);
}
.section3>.h_01>.txt_r{
    transform:translate(-75%, 115%);
}
.section3>.h_02{
    position:absolute;
    top:437px; right:32%;
}
.section3>.h_02>.glass{
    transform:translate(10%, 40%);
}
.section3>.h_02>.txt_l{
    transform:translate(53%, 115%);
}
.section3>.h_03{
    position:absolute;
    top:805px; left:36%;
}
.section3>.h_03>.glass{
    transform:translate(-10%, 40%);
}
.section3>.h_03>.txt_r{
    transform:translate(-82%, 120%);
}
.section3>.h_04{
    position:absolute;
    top:1110px; right:29%;
}
.section3>.h_04>.glass{
    transform:translate(10%, 40%);
}
.section3>.h_04>.txt_l{
    transform:translate(30%, 120%);
}
.section3>.h_05{
    position:absolute;
    top:1418px; left:31%;
}
.section3>.h_05>.glass{
    transform:translate(-10%, 40%);
}
.section3>.h_05>.txt_r{
    transform:translate(-82%, 75%);
}
.section3>.h_06{
    position:absolute;
    top:1732px; right:32%;
}
.section3>.h_06>.glass{
    transform:translate(10%, 40%);
}
.section3>.h_06>.txt_l{
    transform:translate(73%, 95%);
}
.section3>.h_07{
    position:absolute;
    bottom:150px; left:35%;
}
.section3>.h_07>.glass{
    position:absolute;
    bottom:100px; left:115px;
    margin-bottom:30px;
}
.section3>.h_07>h4,.section3>.h_07>.h_txt{
    text-align:center;
}
.section4{
    width:100%; height:700px;
    background:#fff7e6;
}
.section4 h3{
    text-align:center;
    font-size:1.7rem;
    font-weight:700;
    padding-top:90px;
}
.section4 h3>span{color:#dcd242}
.section4 h4{
    margin-bottom:30px;
    text-align:center;
    font-size:1.2rem;
    font-weight:400;
    margin-top:20px;
}

#container{
    position:relative;
    margin:50px auto;
    width:600px; height:350px;
    overflow:hidden;
}
#container .slide-area{position:inherit; /*relative*/}
#container .slide-area source{
    position:absolute;
    left:50%;
    height:350px;
    width:20%;
}
.controller{margin-top:20px;}

@media all and (min-width:1025px){
    #m_01, #m_02, #m_03, #m_04, #m_05,
    #m_06, #m_07, #m_08, #m_09, #m_10{
        display:none;
        visibility:hidden;
        width:0; height:0;
        overflow:hidden;
        text-indent:-99999px;
    }
}



/*중간 사이즈 이미지 어긋남 방지용*/
@media all and (max-width:1919px){
    .section1, .section2, .section3, .section4{width:1920px;}
}



/*모바일*/
@media all and (max-width:1024px){
    .section1, .section2, .section3{width:100%;}
.section1{height:500px; overflow:hidden;}
.section1>div{
    background-size:100%;
    background-position:0 120px;
}
.section1>div>h3{font-size:2.5vh;}
.section1>div>h3.sec1_t01{top:23%; left:17%;}
.section1>div>h3.sec1_t02{top:33%; left:20%;}
.section1>div>h3.sec1_t03{top:43%; left:18%;}
.section1>div>img.bottle{
    top:14%; right:19%;
    width:9.5vw;
}
.section1>div>p{display:none;}
.section1>div>.line01, .section1>div>.line02,
.section1>div>.line03, .section1>div>.line04,
.section1>div>.line05{
    display:none;
}

.section2{height:650px;}
.section2>div>h3{top:38%; left:39%;}
.section2>div>.m_01{top:10%; left:37%;}
.section2>div>.m_02{top:10%; right:37%;}
.section2>div>.m_03{top:31%; left:28%;}
.section2>div>.m_04{top:31%; right:28%;}
.section2>div>.m_05{top:47%; left:21%;}
.section2>div>.m_06{top:47%; right:21%;}
.section2>div>.m_07{top:58%; left:27%;}
.section2>div>.m_08{top:61%; right:28%;}
.section2>div>.m_09{top:72%; left:37%;}
.section2>div>.m_10{top:72%; right:37%;}

.section2>div>.m_01>div:first-child,
.section2>div>.m_02>div:last-child,
.section2>div>.m_03>div:first-child,
.section2>div>.m_04>div:last-child,
.section2>div>.m_05>div:first-child,
.section2>div>.m_06>div:last-child,
.section2>div>.m_07>div:first-child,
.section2>div>.m_08>div:last-child,
.section2>div>.m_09>div:first-child,
.section2>div>.m_10>div:last-child{display:none;}

.section2 .m_effect{color:#f3f3f3;}

#m_01, #m_02, #m_03, #m_04, #m_05,
#m_06, #m_07, #m_08, #m_09, #m_10{
    display:none;
    text-align:center;
    width:60%; height:40%;
    background:rgba(0, 0, 0, 0.8);
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%, -50%);
    color:#f3f3f3;
    line-height:30px;
}
#m_01>div:first-child, #m_02>div:first-child,
#m_03>div:first-child, #m_04>div:first-child,
#m_05>div:first-child, #m_06>div:first-child,
#m_07>div:first-child, #m_08>div:first-child,
#m_09>div:first-child, #m_10>div:first-child
{margin-top:30px;}


.section3>.h_01{
    position:absolute;
    top:115px; left:19%;
}
.section3>.h_02{
    position:absolute;
    top:437px; right:18%;
}
.section3>.h_03{
    position:absolute;
    top:805px; left:25%;
}
.section3>.h_04{
    position:absolute;
    top:1110px; right:12%;
}
.section3>.h_05{
    position:absolute;
    top:1418px; left:16%;
}
.section3>.h_06{
    position:absolute;
    top:1732px; right:20%;
}
.section3>.h_07{
    position:absolute;
    bottom:150px; left:22%;
}
.section3>.h_07>.glass{
    position:absolute;
    bottom:100px; left:115px;
    margin-bottom:30px;
}
.section3>.h_07>h4,.section3>.h_07>.h_txt{
    text-align:center;
}


}