@charset "utf-8";
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*
font-family: 'Noto Sans KR', sans-serif;
*/

html{text-align:center; font-size:14px; font-family:'Noto Sans KR', sans-serif;}
.wrap{width:1440px; margin:0 auto;}
.flex{display:flex; flex-flow:row wrap;}

/* 유틸영역 */
.util{
    justify-content: space-between;
    align-items:flex-end;
    height:50px;   
}
.util>div{height:100%;}
.util img{ height:100%;}
.util li{margin:0 10px;}

/* gnb */
.gnb_background{
    background-color:red;
    height:30px;
    margin-top:20px;
}
.gnb_background>ul{
    justify-content: space-around;
    line-height:30px;
}
.gnb_background>ul>li{width:10%;}
.gnb_background>ul a{display:block; color:#fff;}
.gnb_background>ul>li:hover{background:#fff;}
.gnb_background>ul>li:hover a{color:red; font-weight:700;}

/* visual */
.visual>div{
    width:1440px; height:500px;
    overflow:hidden;
}


/* select */
.select>.select_man,.select>.select_woman{width:400px;}
.select_background{width:640px;}
.select_background>ul>li:hover{opacity:0.8;}
.select>.select_man{background:url('./img/img1.jpg') no-repeat}
.select>.select_woman{background:url('./img/img2.jpg') no-repeat}

.select_background{background:url('./img/select_background.jpg') no-repeat;}
.select_background>ul{justify-content:space-around;}
.select_background>ul:first-child{margin:10px 0;}
.select_background>ul:last-child{margin-bottom:10px;}

/* search */
.search{margin:30px 0;}
.search>h2{font-size:30px; margin-bottom:30px;}
.search>p>input{width:195px;}
.search>select{
    display:block;
    margin:20px auto;
    width:200px;
    text-align:center;
}
.search>div{justify-content: center; margin-top:30px;}
.search>div>span{
    display:block;
    background:red;
    width:50px; height:50px;
    border-radius:100%;
    margin:0 10px;
}
.search>div>span:hover{cursor:pointer;}

.search>div>span.yellow{background:yellow;}
.search>div>span.green{background:green;}
.search>div>span.blue{background:blue;}
.search>div>span.black{background:black;}

/* top */
.top_background{background:#f8f8f8; margin:100px 0; padding:20px 0;}
.top{box-sizing: border-box;}
.top>p{padding-bottom:30px; font-size:20px;}
.top>div{justify-content: space-between;}
.top>div>ul{width:200px;}
.top>div>ul:hover{cursor: pointer;}
.top>div>ul>li{font-size:12px;}
.top>div>ul img{width:100%; margin:20px 0;}



/* samll_ben */
.samll_ben{justify-content: space-between; text-align:left;}
.samll_ben>div{width:300px; height:200px;}
.samll_ben>div:hover{opacity:0.6;}
.samll_ben>div>div:first-child{
    border-right:1px solid #333;
    border-left:1px solid #333;
    border-top:1px solid #333;
}
.samll_ben>div>div:last-child{
    border-right:1px solid #333;
    border-left:1px solid #333;
    border-bottom:1px solid #333;

}
.samll_ben>div img{width:100%;}
.samll_ben>div p{padding:10px; font-size:10px;}
.samll_ben>div p span{background:blue; color:#fff; padding:3px; border-radius:20%;}




/* footer */
footer{margin-top:50px;}
footer>div{border:1px solid #333;}
footer>div .footer_logo{width:8%;}
footer>div .footer_logo img{ width:100%;}
footer>div>ul{justify-content: space-between; align-items:center;}
footer>div>ul>li:nth-child(2){font-weight:900;}
footer>address{text-align:left; background-color: #f8f8f8; padding:20px 0;}
footer>address p{margin:20px 0;}

