@charset "utf-8";
@import url('./reset.css');
@import url('./header_footer.css');

html{text-align:center;}

.best>div,.new>div,.content{justify-content: space-between;}
.best,.new,.all{margin-top:5%;}
.best h2,.new h2,.all h2,.content>ul{margin-bottom:3%;}


section ul:hover{
    background-color:#D99C79;;
    color:#fff;
    cursor:pointer;
}
section li:nth-child(2),section li:nth-child(3){padding:2%;}