@charset "utf-8";
@import url('./reset.css');
@import url('./header_footer.css');



html{text-align:center;}
.sub{margin:2% 0; height:50px}
.sub>ul{
    justify-content:space-around;
    width:100%; height:100%;
    line-height:50px;
}
.sub>ul>li{
    width:25%;
    height:100%;
    background-color:#D99C79;
}
.sub>ul>li>a{color:#fff;}

section h1,section h2,section h3{
    font-size:1.3vw;
    text-align:left;
    border-bottom:1px solid #333;
    padding-bottom:1%;
    font-weight:700;
}
h2,h3{margin-top:3%;}


.in_wrap{max-width:1320px; margin:0 auto;}
.information li:first-child{width:50%}
.information li{margin:2% 0;}

.account{padding-top:2%;}
.account>p{
    width:30%;
    border-right:1px solid #d3d3d3;
    margin-right:5%;
}
.account>div{width:50%;}
.account>div>ul{width:50%; text-align:left;}
.account>div li{margin-bottom:10%;}


.button{margin:4% 0;}
button{
    width:20%; height:50px;
    background-color:#D99C79;
    border:none;
    color:#fff;
    font-weight:500;
    font-size:0.9vw;
}
button:first-child{margin-right:5%;}
button:hover{
    cursor:pointer;
    background-color:#fff;
    border:2px solid #D99C79;
    color:#D99C79;
}



