@charset "utf-8";
@import url('./reset.css');
@import url('./header_footer.css');



html{text-align:center;}
.sub{margin:2% 0; height:50px}
.sub>ul{
    justify-content:space-around;
    width:100%; height:100%;
    line-height:50px;
}
.sub>ul>li{
    width:25%;
    height:100%;
    background-color:#D99C79;
}
.sub>ul>li>a{color:#fff;}



section h1{
    font-size:1.3vw;
    text-align:left;
    border-bottom:1px solid #333;
    padding-bottom:1%;
    font-weight:700;
}

.list{margin-top:5%; padding:2%; background-color:#D99C79;}
.list p{color:#fff; font-size:0.9vw;}
.list>div{box-sizing:border-box;}
.list>div:nth-child(1){width:30%; justify-content: space-between;}
.list>div:nth-child(1) p{
    width:100%;
    text-align:left;
}
.list>div:nth-child(1)>div{width:50%;}
.list>div:nth-child(1)>figure{width:40%;}
.list>div:nth-child(1) p:nth-child(1){margin-bottom:55%;}


.list>div:nth-child(2){
    width:40%;
    border-right:1px solid #333;
    border-left:1px solid #333;
}
.list>div:nth-child(2) .price>div:nth-child(2){margin:0 15%;}
.list>div:nth-child(2)>div>div{width:50%; margin-left:15%;}

.list>div:nth-child(2)>div>div>div>p:first-child{margin-bottom:15%;}
.list>div:nth-child(2)>div{margin-top:10%;}
.list>div:nth-child(2)>div>div>p:last-child{margin-top:5%;}
.list>div:nth-child(2)>div>p{margin-top:2%;}
.list>div:nth-child(2) p{font-size:1.3vw;}



.list>div:nth-child(3){width:30%;}
.list>div:nth-child(3)>p{
    background:#fff;
    height:30px;
    width:70%;
    color:#D99C79;
    margin:4% 0 0 20%;
    line-height:30px;
}
.list>div:nth-child(3)>p:hover{
    cursor:pointer;
    font-weight:900;
}
.list>div:nth-child(3)>p:first-child{margin-top:0;}

.list>div>figure{width:30%;}
.list>div>figure>img{width:100%;}


.list_buttom{
    justify-content:center;
    margin:5% 0;
}
.list_buttom>p{
    width:2%; height:1vw;
    margin-right:2%;
    background-color:#D99C79;
    color:#fff;
    padding-top:2px;
    box-sizing: border-box;
}
.list_buttom>p:hover{cursor:pointer;}
.list_buttom>p:last-child{margin:0;}

