@charset "utf-8";
@import url('./reset.css');
@import url('./header_footer.css');

section h1{
    font-size:1.3vw;
    text-align:left;
    border-bottom:1px solid #333;
    padding-bottom:1%;
    font-weight:700;
    margin-top:5%;
}

form{max-width:1320px; margin:0 auto;}
fieldset>div{margin-top:2%;}
fieldset>div>p{width:10%; height:30px;}


fieldset>div>input{
    width:20%;
    height:30px;
    background-color:#e6e6e6;
    border:none;
}

.jscolor{
    text-align:center;
    border-radius:10px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
    border:1px solid #ddd;
}
textarea{
    border: none;
    outline: none;
    resize:none;
    background-color:#e6e6e6;
    width:50%; height:150px;
}

.file>div{
    width:250px;
    height:200px;
    border:1px solid #333;
    box-sizing:border-box;
}






/*
img#previewImg{
    cursor:pointer;
    max-height:50%;
    max-width:50%;
    display:block;
}

.filebox{
    display:inline-block;
    margin:10px;
}
.filebox label {
    display:inline-block;
    padding:4px 8px;
    margin-left:5px;
    color:#999;
    font-size:inherit;
    line-height:normal; 
    vertical-align:middle;
    border-radius:.25em; 
    cursor:pointer; 
    color:#fff;
    background-color:#895fc0;
    border:1px solid #683d8b;
}
.filebox input[type="file"] {
    position: absolute;
    width:10px;
    height:10px;
    padding:0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.filebox .upload-name{
    display: inline-block;
    padding: 0.3em 0.4em;
    font-size: inherit; 
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5; 
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*/


.button{text-align: center;}
.button>input{
    background-color:#D99C79;
    border:none;
    color:#fff;
    width:20%; height:50px;
    font-weight:500;
    font-size:0.9vw;
    margin:5% 0;
}

button{
    width:20%; height:50px;
    background-color:#D99C79;
    border:none;
    color:#fff;
    font-weight:500;
    font-size:0.9vw;
    margin:5% 0;
}
button:first-child{margin-right:5%;}
.button>input:hover,button:hover{
    cursor:pointer;
    background-color:#fff;
    border:2px solid #D99C79;
    color:#D99C79;
}


.pop_up{
    position:absolute;
    top:56%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:2% 0;
    width:45%;
    margin:0 auto;
    background-color:#D99C79;
    font-size:0.8vw;
    line-height:1.1;
    display:none;
    z-index: 999999;
}
.pop_up>p,pre{text-align:center; color:#fff;}
.pop_up>p{margin-bottom:2%;}

.checkbox{text-align: center; color:#fff;}

.checkbox>button{
    margin:1% auto 0;
    display:inline-block;
    background:#fff;
    color:#D99C79;
    border:1px solid #D99C79;
}
