@charset  "utf-8";
@import url('./reset.css');
@import url('./common.css');

/*
font-family: 'Pretendard-Regular';
font-family: 'SEBANG_Gothic_Bold';
*/

#gnb>li:last-child {
    padding-top: 10px;
}
h2{
	display:none;
	visibility:hidden;
	width:0; height:0;
	overflow:hidden;
	text-indent:-9999px;
}
.section1{
    max-width:1440px;
    margin:0 auto;
    padding:7% 0 10% 0;
    text-align:center;
}
.section1>.images{width:80%; margin:0 auto 4%;}
.section1>.images>img{display:block; width:120px; margin:0 auto;}
.section1>.text{
    font-size:25px;
    font-weight:600;
    line-height: 2;
    color:#444;
}
.section1>.btn{
    background:#fff;
    border:1px solid #37594B;
    width:180px; height:5vh;
    font-size:20px;
    font-weight:600;
    margin-top:40px;
    cursor: pointer;
    display:inline-block;
    line-height:2.5;
    color:#37594B;
}
.section1>.reset:hover,
.section1>.login:hover{background:#37594B; color:#fff;}




@media all and (max-width:1024px){ /* 모바일 */
    .section1{padding:18% 0;}
    .section1>.button{height:3vh; line-height:1.8;}
    .section1>.text{
        font-size:20px;
        font-weight:600;
        line-height: 2;
        color:#444;
    }
    
}