@charset  "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
a:link, a:visited, a:hover, a:active{color:#333;}
a{text-decoration:none;}
/*
color
#2c719d
#37466c
#1c4199
#f1f1f1
#333
*/

.wrap{width:1100px; margin:0 auto;}
.flex{display:flex; flex-flow:row wrap;}

/* logo */
header>h1>img{display:block; margin:20px auto;}

/* gnb */
.gnb>ul>li{
    width:220px; height:50px;
    line-height:50px;
    text-align:center;
    background-color:#1c4199;
}
.gnb>ul>li>a{color:#f1f1f1;}
.gnb>ul>li:hover{background-color:#37466c;}

.lnb{display:none;}
.lnb>li{background-color:#37466c;}
.lnb>li:hover{background-color:#2c719d;}
.lnb>li>a{color:#fff;}
.gnb>ul>li:hover>.lnb{display:block;}

/* section1 */
.section1{
    width:1100px; height:493px;
    background:url('./images/banner.jpg') no-repeat center/100%;
}


/* section2 */
.section2{border:1px solid #333; box-sizing:border-box;}
.section2>aside{
    width:200px;
    text-align:center;
    box-sizing:border-box;
}
.section2>aside li{
    width:200px;
    height:50px;
    line-height:50px;
    border-bottom:1px solid #333;
}
.section2>aside .kcc{background-color:#333;}
.section2>aside .kcc>a{color:#fff;}
.section2>div{
    width:898px;
    box-sizing:border-box;
    padding:20px;
    border-left:1px solid #333;
}
.section2>div>h3{
    color:#1c4199;
    font-size:1.2rem;
    margin-bottom:20px;
}
.section2>div>p.p{line-height:1.5;}
.section2>div>p.p1{margin-top:10px; text-align:right;}
.section2>div>div>ul:first-child{margin-right:20px;}
.section2>div>div li{margin-bottom:10px;}

/* footer */
footer{
    padding:20px 0;
    text-align:center;
    background-color:#d3d3d3;
}