@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin:0; padding:0; list-style:none;}
a,a:active,a:hover,a:link,a:visited{text-decoration:none; color:#333;}
/*
font-family: 'Do Hyeon', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/*공통*/
html{font-family: 'Noto Sans KR', sans-serif; font-size:14px;}
.wrap{width:1200px; margin:0 auto;}
.flex{display:flex; flex-flow:row wrap;}

/*헤더영역*/
#header>h1{text-align: center;}
#logo>img{width:50px; margin-top:20px;}
#header>ul{justify-content: flex-end;}
#header>ul>li{margin-left:30px;}

/*gnb영역*/
#gnb{justify-content: space-between;}
#gnb>li{
    width:200px;
    text-align:center;
    margin: 40px 0;
    box-sizing: border-box;
}
#gnb>li>a{width:50px; padding:20px;}
#gnb>li:hover>a{
    border-bottom:3px solid #78b3c5;
    color:#78b3c5; font-weight:600;
}


/*컨텐츠*/

/*비주얼 배너*/
#main_bnr>img{width:1200px; height:500px;}

/* 첫번째 아티클(첫번째 컨텐츠)*/
#fir_art{margin:100px 0; position:relative;}
#line{
    position:absolute;
    top:0;
    right:0;
    background:#78b3c5;
    width:300px; height:5px;
}
#position_box{
    position:absolute;
    top:80px;
    right:220px;
    background:rgba(255,255,255,0.5);
    font-size:1.6rem;
    padding:20px;
}
#position_box>p:first-child{color:#78b3c5; font-weight:600;}
#position_box>p:last-child{
    font-size:0.9rem;
    line-height:2.9;
    margin-top:15px;
    color:#565656;
}
#position_box>p:last-child>span{background:rgba(120,179,197,0.5);}
#fir_art>div,#fir_art>div>div{display:inline-block;}

/* 수정할 부분 */
#fir_art>div:last-child>div{
    width:100%;
    box-sizing:border-box;
}
/* 호버효과 수정해주세용~~ */
#fir_art>div:last-child img:hover{
    width:50%;
}

/* 두번째 아티클(두번째 컨텐츠)*/
#sec_art{justify-content: space-between;}
#sec_art img{display:inline-block; width:210px; margin-left:10px;}
#sec_art p:nth-child(1){
    color:#78b3c5;
    font-size:3rem;
    font-weight:600;
    line-height:1;
}
#sec_art p:nth-child(2){margin:30px 0; color:#ddd;}
#sec_art p:nth-child(3){
    width:100px; height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid #78b3c5;
}
#sec_art p:nth-child(3)>a{display:block; color:#78b3c5;}


/* today_story */
.today_story{
    margin-top: 150px;
    text-align:center;
    font-size:1.5rem;
    font-weight:700;
    color:#494949;
}
.today_story>p:last-child{
    color:#727272;
    font-size:1rem;
    margin-top:10px;
    font-weight:300;
}

/* today_story 컨텐츠 */
#today_contens{
    height:900px;
    box-sizing: border-box;
    position:relative;
    margin:50px 0 100px;
}
#today_contens>li{position: absolute;}
#right_img{right:0;}
#left_img{bottom:0;}
#contens_topbox, #contens_undbox{
    font-size:1.4rem;
    padding:20px;
    color:#78b3c5;
    font-weight:600;
}
#contens_topbox>p:last-child, #contens_undbox>p:last-child{
    font-size:0.9rem;
    line-height:2.9;
    margin-top:15px;
    color:#565656;
    font-weight:300;
}
#contens_topbox{
    border-left:5px solid #78b3c5;
    top:100px;
    left:200px;
}
#contens_undbox{
    border-right:5px solid #78b3c5;
    text-align: right;
    right:200px;
    bottom:120px;
}

/* INSTAGRAM */
.today_story span{color:#78b3c5; font-weight:600;}


/* 마지막 아티클(마지막 컨텐츠) */
#last_art>div:last-child>ul{margin:20px 0 100px; justify-content: space-between;}
#last_art>div:last-child>img{display:block;}
#last_art>div:last-child>ul>li{position:relative;}
#last_art>div:last-child>ul>li>a>p{
    display:inline-block;
    padding:10px 30px;
    color:#fff;
    position:absolute;
    border: 1px solid #fff;
    top:49%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    opacity:0;
}
#last_art>div:last-child>ul>li::after{
    position: absolute;
    content:'';
    width:204px; height: 204px;
    background:rgba(0,0,0,0.5);
    top:49%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
}
#last_art>div:last-child>ul>li:hover a>p,
#last_art>div:last-child>ul>li:hover::after{
    opacity:1;
    transition:all .4s;
}

/* 푸터 */
#footer{background:#caefff; padding:30px 0;}
#in_footer{text-align: center;}
#in_footer>ul{justify-content: center;}
#in_footer>ul>li{margin:0 30px;}
#in_footer>ul:first-child>li>a{color:#565656; font-weight:700;}
#in_footer>ul:last-child>li{margin: 0 15px;}
#in_footer>address{
    color: #565656;
    line-height:2;
    font-style: normal;
    margin: 10px 0;
}
