@charset  "utf-8";
*{margin:0; padding:0; list-style:none;}
body{font-family:"Times New Roman", serif;}

/* a링크 스타일 */
a{text-decoration:none;}
a:link,a:visited,a:hover,a:active{color:#333;}

/* 기타 스타일 리셋 */
img{border:0; vertical-align:top;}
ul,li,ol{list-style:none;}

/* 공통 레이아웃, 960px 중앙 정렬 */
#main_header, #content, #main_footer{
	width:960px;
	margin:0 auto;
}

/* 헤더 영역 css */
#main_header{
	height:160px;
	position:relative;	
}
#main_header>*{position:absolute;}

#title>h1{
	display:none;
	visibility:hidden;
	width:0; height:0;
	overflow:hidden;
	text-indent:-999px;
}
#title{
	left:50px; top:30px;
}
#main_gnb{right:0;}
#main_lnb{right:0; bottom:0;}
#main_gnb>ul>li,
#main_lnb>ul>li{float:left;}

#main_gnb>ul::after,
#main_lnb>ul::after,
#content::after,
.item::after{
	content:'';
	width:0; height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
#main_lnb>ul>li>a,
#main_gnb>ul>li>a{
	display:block;
	border:1px solid #ddd;
	padding:2px 10px;
}
#main_lnb>ul>li>a{padding:10px 20px;}

#main_gnb>ul>li:first-child>a{
	border-radius:15px 0 0 15px;
}
#main_gnb>ul>li:last-child>a{
	border-radius: 0 15px 15px 0;
}

#main_lnb>ul>li:first-child>a{
	border-radius:25px 0 0 25px;
}
#main_lnb>ul>li:last-child>a{
	border-radius:0 25px 25px 0;
}

#main_header a:hover{
	background:teal;
	color:#fff;
}


/* 본문영역 css */
#content{overflow:hidden; margin-top:20px;}

#main_section{float:left; width:750px;}
#main_aside{float:right; width:200px;}

.main_article{
	padding:20px;
	margin:0 0 10px 0;
	border:1px solid #ccc;
}

/* aside 영역 (탭형식) css */

.buttons{overflow:hidden;}
.buttons>label{
	display:block;
	float:left;
	width:98px;
	border:1px solid #ddd;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
}

#first:checked ~ .buttons>label:nth-of-type(1),
#second:checked ~ .buttons>label:nth-of-type(2){
	background:teal;
	color#fff;
}


#first:checked ~ div:nth-of-type(1),
#second:checked ~ div:nth-of-type(2){
	display:block;
}

#first ~ div:nth-of-type(1),
#second ~ div:nth-of-type(2),
#first,#second{
	display:none;
}

/* 탭메뉴 항목 css */
.tab_item{background:teal;}
.item{
	overflow:hidden;
	padding:10px;
	border-bottom:1px solid #ddd;
}
.item div{float:left;}
.description{
	margin-left:10px;
	color:#f3f3f3;
}
.description>strong{
	width:120px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:block;
}

/* 푸터 css */
#main_footer{
	text-align:center;
	background:#ddd;
	padding:20px 0;
}



