@charset "utf-8";
@media all and (min-width:1025px) {
	.wrap{ /* 여기저기 중앙정렬로 사용할 클래스 */
        width:75%; /*1440/1920*100*/
        margin:0 auto;
    }
    .header{ /* 헤더에만 적용될 스타일 */
        position:absolute;
        /* position 값이 fixed 인 경우 gnb를 상단에 항시 고정시켜 사용 할 수 있다.(스크롤이 내려가도 지정한 위치에 항시 gnb가 고정되어있다.) */
        top:0; left:12.5%;
        z-index:999;
    }
    #menu{display:none;}
    .header>nav,#gnb,#util{height:80px;}

    /* PC ver. flex 셋팅 */
    .header>nav,
    #gnb,
    #util,
    #bestProduct>ul,
    #snsArea>div,
    #snsArea>div>ul,
    #lineBanner,
    #mdPick>div,
    #mdPick>div>ul,
    #picCircle{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    #gnb>li{
        display:flex !important;
    }
    /* mobile로 갔을때 flex 아니고 세로로 배치 해야하기 때문에 pc에서는 가로로 보이게 하려고 flex에 important적용 시켜줌
    moilbe나중에 important 되어 있기 때문에 우선 순위가 밀릴 수도있다. 여러가지 복합적 이유로 일부로 important 키워드로 최상위 우선순위를 갖게함.
    */
    #gnb>li{text-align:center;}
    #gnb>li>a, .sub>li>a{
        display:block !important;
        padding:5px 30px;
        position:relative; /* 위치기준 사용 */
    }
    #gnb>li>a::after, .sub>li>a::after{
        content:'';
        width:0px;
        height:0;
        transition:all .3s;
    }
    #gnb>li:hover>a::after, .sub>li:hover>a::after{
        content:'';
        width:40%;
        height:2px;
        background:cadetblue;
        position:absolute;
        left:50%;
        bottom:0;
        transform: translateX(-50%);
    }
    .sub{
        position:absolute;
        width:inherit;
        top:65%;
        background-color:rgba(255,255,255,0.5);
        display:none;
        text-align:center;
    }
    .sub>li{margin:15px 0 ;}




    /* PC ver sns 영역 스타일 */
    #snsArea{padding:100px 0 50px; text-align:center;}
    #snsArea>div{justify-content: space-around; margin-top:40px;}
    .desc{width:40%;}
    #snsArea>div>ul>li:nth-child(2){margin:0 20px;}
    #snsArea>div>ul>li img{width:80px;}
    #snsArea>div>ul>li h3{margin:10px 0;}
    #snsArea>div>ul{margin-top:40px;}
    
    /* PC vec mdPick 스타일 */
    #mdPick>div{
        justify-content:space-around;
        align-items:flex-start;
        padding-top:60px;
    }

    #mdPick{margin:50px auto 0;}
    #mdPick>div>div{
        width:40%;
        border-right:1px solid #333;
        padding-right:3%;
    }
    #mdPick>div>ul{width:50%; height:100%;}
    #mdPick>div>ul>li{width:32%; overflow:hidden;}
    #mdPick>div>ul>li img{width:100%;}
    
    /* PC ver 둥근이미지 영역 */
    #picCircle{
        padding:80px 10%;
        justify-content:space-around;
    }
    #picCircle>div{width:20%;}
    #picCircle>div>a>div.circle_img{
        transform:translate(-50%,-50%) !important;
    }
    









}


