@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import "pc.css";
@import "mobile.css";
/* 공통사용 */
a{text-decoration:none;}
a:link,a:visited,a:hover,a:active{color:#333;}

.container{
    width:100%;
    margin:0 auto;  /* 가로중앙 정렬로 바꿀수도 있으니까 */
    overflow:hidden;
}


/* 비주얼 슬라이드 관련 CSS */
.backimg{
    width:100%;
    height:650px;
    background-color:aquamarine;
    position:relative;
}
.backimg>li{
    position:absolute;
    width:100%;
    height:100%;
    background:url() no-repeat center center/cover;
    transition:all .4s;
    opacity:0;
}
.backimg>li:nth-child(1){background-image:url('../images/back1.jpg');}
.backimg>li:nth-child(2){background-image:url('../images/back2.jpg');}
.backimg>li:nth-child(3){background-image:url('../images/back3.jpg');}
.backimg>li.topImg{
    opacity:1;
    z-index:3 !important;
    transition:all .4s;
}

/* 헤더 공통영역 */
.headerWrap{position:relative;}

/* 베스트 상품 공통 영역 */
#bestProduct>h2{
    display:none;
    visibility:hidden;
    width:0; height:0;
    overflow:hidden;
    text-indent:-999px;
}
#bestProduct>ul{height:200px;}
#bestProduct>ul>li{
    width:100%; height:100%;
    position:relative;
    background:url() no-repeat green right top;
}
#bestProduct>ul>li:nth-child(1){
    background-image:url('../images/icon/fruit01.png');
    background-color: aquamarine;
}
#bestProduct>ul>li:nth-child(2){
    background-image:url('../images/icon/fruit02.png');
    background-color: rosybrown;
}
#bestProduct>ul>li:nth-child(3){
    background-image:url('../images/icon/fruit03.png');
    background-color: greenyellow;
}
#bestProduct>ul>li:nth-child(4){
    background-image:url('../images/icon/fruit04.png');
    background-color: coral;
}
#bestProduct>ul>li>a{
    position:absolute;
    width:60%;
    display:block;
    bottom:0; padding:20px;
}
#bestProduct>ul>li>a h3{font-size:2rem; margin:10px 0;}
#bestProduct>ul>li>a p{font-size:1rem; line-height:2;}


/* sns 영역 공통 스타일 */
#snsArea>div>ul>li p{
    text-align:center;
    font-size:0.9rem;
    line-height:1.6;
}
#snsArea>div>ul>li h3{font-weight:bold;}
#snsArea .desc{
    text-align:left;
    margin-top:60px;
}
#snsArea .desc h3{
    font-size:1.2rem;
    font-weight:bold;
    margin:10px 0;
}
#snsArea .desc p{
    font-size:0.9rem;
    color:#000;
    line-height:2;
    margin:10px 0;
}
#snsArea .desc p:last-child{
    background:#000;
    color:#fff;
    width:200px;
    text-align:center;
    height:45px;
    line-height:45px;
    cursor:pointer;
}

/* 타이틀 스타일 공통 */
h2.title{
    font-size:1.8rem;
    font-weight:bold;
    text-align:center;
    width:100%;
}
h2.title + h3{
    text-align:center;
    font-size:1.1rem;
    margin:20px 0;
    color:#666;
}


/* 가로 배너 스타일 */
#lineBanner{margin:100px auto 50px;}
#lineBanner>div{
    height:300px;
    overflow:hidden;
}
#lineBanner>div:first-child{
    width:100%;
    background:url('../images/banana.jpg') no-repeat center/cover;
}
#lineBanner>div:last-child{
    width:100%;
    background:lightgray;
}
#lineBanner>div:last-child h3{
    font-size:1.8rem;
    font-weight:bold;
    padding:40px 20px 30px;
}
#lineBanner>div:last-child p{
    line-height:3.5;
    padding-left:20px;
}


/*mdPick 공통 스타일 */
#mdPick>div>ul img{width:100%;}
#mdPick>div>ul h4{font-weight:bold; margin:20px 0;}
#mdPick>div>ul p{font-size:0.9rem; line-height:2;}

.pickPrd>a{
    display:block;
    position:relative; /* 기준이 잡혀있어야 caption 클래스를 기준 밖으로 보낸 다음에 hover 했을때 다시 불러 올 수 있음 */
    overflow:hidden; /* 이걸 해와냐 밖에 나가있는 caption 안보임 */
    max-height:300px;
}
.pickPrd>a img{width:100%; vertical-align:top;}
.caption{
    position:absolute;
    bottom:-100%;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:50px;
    line-height:50px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    transition:all .4s;
}
.pickPrd>a:hover .caption{bottom:0;}

/* 가로선 스타일 */
hr{width:70%; height:1px;
background:rgb(179,179,179);
border:0;
margin:100px auto;
}

/* 둥근 이미지 영역 */
#picCircle>div>a>.circle_img{
    background:url() no-repeat center/cover;
}
#picCircle>div:nth-child(1)>a>.circle_img{    
    background-image: url('../images/circle01.png');
}
#picCircle>div:nth-child(2)>a>.circle_img{    
    background-image: url('../images/circle02.png');
    bottom:-70%;
}
#picCircle>div:nth-child(3)>a>.circle_img{    
    background-image: url('../images/circle03.png');
}

#picCircle>div>a{
    display:block;
    position:relative;
    height:300px;
    width:100%;
}
#picCircle>div>a>div{position:absolute;}
#picCircle>div>a>div.circle_img{
    width:180px; height:180px;
    z-index:9999;
    left:50%;
    transform:translate(-60%,-60%);
}
#picCircle>div>a>div.circle_txt{
    background:beige;
    padding:20% 5% 5% 5%;
    width:100%;
    max-height:370px;
    box-sizing:border-box;
    overflow:hidden;
}
#picCircle>div>a>div.circle_txt h4{
    font-size:1.8rem;
    font-weight:bold;
    margin:40px 0;
}
#picCircle>div>a>div.circle_txt p{
    font-size:0.9rem; line-height:2;
}
#picCircle>div:nth-child(2)>a>div.circle_txt{
    padding:5% 5% 20% 5%;
    top:-30%;
}



/* 이미지 배너 영역 */
#imgBanner{
    background-image: url('../images/bgimg01.jpg') , url('../images/bgimg02.jpg') ;
    background-repeat:no-repeat , no-repeat;
    background-position:30% top, 60% 30%;
    height:900px;
    position:relative;
}
#imgBanner>div{
    background:rgba(0,0,0,0.6);
    color:#fff;
    width:400px; height:400px;
    box-shadow:2px 2px 10px red;
    position:absolute;
    left:50%; top:40%;
    transform:translateX(-50%);
    padding:20px;
    box-sizing:border-box;
}



/* 푸터영역 */
footer{
    height:300px;
    background: aliceblue;
}